.cms-home{
    .widget.block.block-static-block{
        display: flex;
        align-items: center;
        width: 100%;
        img{
            width: 20%;
        }
    }
    .promobanner{
        .bottom-center{
            .banner-button{
                .btn-promo-banner:hover{
                    background: #f1563c;
                }
                .btn-promo-banner{
                    background: #f1563c;
                    border-color: #f1563c!important;
                    color:#fff;
                }
            }
        }
        .text-center{
            .btn-default {
                color: #fff;
                border: 2px solid #f1563c!important;
                background-color: #f1563c!important;
            }
            .btn-default:hover{
                background-color: #f1563c!important;
            }
        }
        
    }
    .product-tab{
        .menu-product-tabs{
            li.active{
                a{
                    background-color: #f1563c!important;
                    border: 1px solid #f1563c!important;
                    color: #fff!important;
                }
            }
        } 
    }
    
}
.footer{
    .newsletter{
        .btn-primary {
            color: #fff!important;
            border: 2px solid #f1563c!important;
            background-color: #f1563c!important;
        }
    }
}
.checkout_index_index{
    .page-wrapper{
        background: #FFF!important;
        overflow-x:hidden;
        #storecode{
            display: none;
        }
        .opc-wrapper{
            .opc-payment{
                .payment-methods{
                    .payment-method{
                        .payment-method-title{
                            label{
                                span{
                                    color: #000;
                                }
                            }
                        }
                    }
                } 
            } 
            .step-title{
                background-color: #d46018!important;
            }
            .button-action{
                background-color: #d46018!important;
            }
            .product-item-name{
                font-size: 18px !important;
                color: #317acc!important;
                font-weight: 500;
            }
            .product.options{
                .toggle{
                    display: none!important;
                }
            }
            .grand.totals{
                    strong{
                        color: #000!important;
                    }
            }
            #co-place-order-area{
                display: flex;
                flex-direction: column;
                align-items: center;
                .osc-addition-content-wrapper{
                    width: 100%;
                }
                .osc-place-order-wrapper{
                    width: unset;
                }
                .action.primary.checkout{
                    background-color: #d65636 !important;
                    border-color: #d65636 !important;
                    padding: 5px 30px!important;
                    height: unset!important;
                    width: unset!important;
                    text-transform: uppercase;
                    font-weight: 100!important;
                    border-radius: 30px;
                }
            }
            .osc-place-order-block.checkout-comment-block{
                display: none!important;
            }
            .one-step-checkout-container{
                .onepage-checkout-shipping-method-additional-load{
                    display: none!important;
                }
                .table-checkout-shipping-method{
                    position: relative;
                    tbody{
                        tr{
                            td{
                                border: none!important;
                                color: #000;
                            }
                            position: relative;
                        }
                        tr:first-child{
                            border-bottom: 1px solid #ccc;
                        }
                        // tr:first-child:before{
                        //     content: '';
                        //     width: 95%;
                        //     height: 1px;
                        //     background: #ccc;
                        //     top: 50%;
                        //     position: absolute;
                        //     left: 0;
                        //     right: 0;
                        //     margin: auto;
                        // } 
                    }
                }
                .checkout-shipping-method{
                    border: 1px solid #eee;
                    border-bottom: none!important;
                    margin-top: 0 !important;
                    margin-bottom: 30px;
                }
            }
        }
        
    }
}
.cms-store-detail{
    background: #FFF;
    .store{
        border: 1px #f1f1f1 solid;
        padding: 30px;
        margin-bottom:30px;
        .heading-content{
            font-size: 20px;
            color: #000;
            border-bottom: 1px solid #f1f1f1;
            margin-bottom: 20px;
            margin-top:10px;
        }
        .content{
            .img{
                max-width: 100%;
    
            }
            .tblinfo{
                width: 100%;
                
                margin-top:30px;
                tr{
                    padding: 15px;
                    border: 1px #f1f1f1 solid;
                    td{
                        padding: 15px;
                        border: 1px #f1f1f1 solid;
                    }
                    td.title{
                        color:#000;
                    }
                }
            }
            .tblinfo2{
                width: 100%;
                table-layout: fixed;
                margin-top:30px;
                tr{
                    padding: 15px;
                    border: 1px #f1f1f1 solid;
                    td{
                        padding: 10px;
                        
                    }
                    td.title{
                        color:#000;
                    }
                }
            }
        }
        
    }
    .viewall{
        text-align: center;
        .view{
            border-radius: 30px;
            background: #262626;
            color: #fff;
            padding: 10px 0px;
            max-width: 250px;
            font-size: 18px;
            border: 2px solid #262626;
            display: block;
            margin: auto;
        }
        .view:hover{
            background: #fff;
            color: #000;
            transition: all .2s ease-in-out;
        }
    }
    .map{
        iframe#gmap_canvas{
            width: 100%;
            height: 500px;
            margin-top: 50px;
        }
    }
}
.amshopby-index-index{
    .products-grid{
        .product-item-info {
            div[class^="swatch-opt-"]{
                .swatch-attribute{
                    display: block;
                }
                .swatch-attribute{
                    display: block;
                }
            }
        }
    }
    .category-products-list-block{
        .swatch-attribute{
            display: none;
        }
}
}
.catalog-category-view{
    .products-grid{
        .product-item-info {
            div[class^="swatch-opt-"]{
                .swatch-attribute{
                    display: none;
                }
                .swatch-attribute{
                    display: none;
                }
            }
        }
    }
    .category-products-list-block{
        .swatch-attribute{
            display: none;
        }
    } 
}
.tocart{
    background-color: #f1563c!important;
    color: #fff!important;
}
.tocart:hover{
    background-color: #f1563c!important;
}
.catalog-product-view{
    .page-wrapper{
        background: #fff;
        .breadcrumbs{
            background:#f8f8fa;
            padding: unset!important;
            margin: unset!important;
            padding:20px 0!important;
            margin-bottom: 50px!important;
            .items{
                float:left;
            }
        }
        .horizontal-thumbnail{
            .owl-nav{
                div.disabled{
                    box-shadow: none;
                    border:none;
                    background: #888888;
                }
                .owl-next{
                    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                    background: #303030;
                    box-shadow: none;
                    border:none;
                    color:#FFF;
                }
                .owl-prev{
                    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                    background: #303030;
                    box-shadow: none;
                    color:#FFF;
                    border:none;
                }
                .owl-next:hover{
                    background: #000;
                    color:#fff;
                    
                }
                .owl-prev:hover{
                    background: #000;
                    color:#fff;
                    
                }
            }
        }
        .social{
            margin-top: 50px;
            ul{
                display: flex;
                max-width: 250px;
                margin: auto;
                li{
                    flex-grow: 2;
                    text-align: center;
                    a{
                        color:#000;
                        display: block;
                        i{
                            font-size: 20px;
                        }
                    }
                    a:hover{
                        color: #000;
                    }
                }
            }
        }
        span.comma:last-child{
            display: none;
        }
        .attribute{
            strong.type{
                font-weight: 400;
                color: #222;
            }
        }
        #owl-carousel-gallery{
            .owl-nav{
                display: none;
            }
        }
        #product-carousel-related,#upsell-owl-carousel{
            .owl-nav{
                div{
                    width: 70px!important;
                    height: 70px!important;
                    border-radius: unset!important;
                    border:none!important;
                    color: #fff!important;
                    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                    background: #303030!important;
                    font-size: 60px;
                    i{
                        line-height: 70px;
                    }
                }
                div.disabled,div:hover{
                    border:none!important;
                }
                div.disabled{
                    background: #888888!important;
                }
                div:not(.disabled){
                    background: #303030!important;
                }
                .owl-next{
                    opacity: 1!important;
                    visibility: visible!important;
                    right: -23px!important;
                    i{
                        
                    }
                }
                .owl-prev{
                    opacity: 1!important;
                    visibility: visible!important;
                    left: -23px!important;
                    i{
                        
                    }
                }
            }
        }
        #maincontent{
            .product-detail-media{
                .product-gallery-grid{
                    #banner2{
                        overflow: auto;
                        margin-top:20px;
                        .owl-stage-outer{
                            .owl-stage{
                                margin:auto;
                            }
                        }
                    }
                }
            }
        }
        .product-add-form{
            .product-options-wrapper{
                .swatch-opt{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: baseline;
                    .swatch-attribute.color{
                        min-width: 150px!important;
                    }
                }
            }
            .actions{
                button.tocart{
                    background: #d65636;
                    border: 1px solid #d65636!important;
                    color: #fff !important;
                }
                button.tocart:hover{
                    background-color: #ca3712!important;
                }
            } 
        }
        .detailed{
            .title-accordion:after{
                background-color: #d65636!important;
            }
        }
        .product-info-main{
            
            .swatch-attribute.color{
                .swatch-attribute-options{
                    .swatch-option{
                        border-radius: unset;
                        box-shadow: 0 0 0 1px rgba(0, 0, 0, 1);
                    }
                    .swatch-option.selected{
                        border:1px solid #000;
                        box-shadow: 0 0 0 2px rgba(0, 0, 0, 1)!important;
                    }
                    .swatch-option:hover{
                        box-shadow: 0 0 0 2px rgba(0, 0, 0, 1)!important;
                    }
                }
            }
            .swatch-option.text{
                border-radius: unset!important;
                border: 1px solid #000;
                color: #000!important;
            }
            .swatch-attribute-selected-option{
                color: #000!important;
            }
            .swatch-option.text:hover{
                background:#000!important;
                color:#fff!important;
                box-shadow: unset!important;
            }
            .swatch-option.text.selected{
                background:#000!important;
                color:#fff!important;
                box-shadow: unset!important;
            }
        } 
    }
}

.checkout_index_index{
    .addresses{
        .control{
            .shipping-address-items{
                display: block!important;
                margin-top:0!important;
                .shipping-address-item{
                    width: unset!important;
                    padding: 10px 20px!important;
                    margin-bottom: 20px;
                }
            }
        }
    }
    .field.choice > input{
        position: unset!important;
    }
    button:not(.primary):not(.action-show):not(.action-close):not(.edit-address-link):not(.ui-datepicker-trigger) {
        background-color: #d65636!important;
        border-color: #d65636!important;
        box-shadow: none;
        color: #FFFFFF;
    }
}

@media screen and (max-width:1199px) and (min-width:768px){
    .cms-home .widget.block.block-static-block{
        display: block!important;
        text-align: center;
    }
    .cms-home .widget.block.block-static-block img{
        width: unset!important;
    }
    .one-step-checkout-container .qty-wrapper {
        height: 100%!important;
        border: unset!important;
        border-radius: unset!important;
        padding: 5px 15px !important;
        /* overflow: hidden; */
        /* min-width: 105px; */
        display: flex;
        flex-direction: column;
        min-width: unset!important;
        padding: 0!important;
    }
    #checkout-review-table tbody tr td.details-qty{
        padding: 0!important;
    }
    .one-step-checkout-container .qty-wrapper .button-action{
        margin:auto!important;
    }
    .qty-wrapper .qty-wrap{
        width: unset!important;
        height: unset!important;
    }
    .qty-wrapper .qty-wrap .input-text.update{
        position: unset!important;
    }
    #checkout-review-table thead th:nth-child(3){
        padding: 0!important;
    }
    #checkout-review-table tbody tr td:nth-child(4){
        padding:0!important;
    }
}
@media screen and (max-width:768px){
    .cms-home .widget.block.block-static-block{
        display: block!important;
        text-align: center;
    }
    .cms-home .widget.block.block-static-block img{
        width: unset!important;
    }
}
@media screen and (min-width:993px){

}