<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="payment" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1000" translate="label">
			<group id="kpayment" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Kpayment</label>
				<field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1" translate="label" type="select">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<validate>kbank-enable-plugin</validate>
				</field>
				<field id="title" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Title</label>
					<validate>kbank-required-entry</validate>
				</field>
				<field id="mode" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="15" translate="label" type="select">
					<label>Mode</label>
					<source_model>Marvelic\KPayment\Model\Config\Mode</source_model>
				</field>

				<field id="action" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="select">
					<label>Gateway Type</label>
					<source_model>Marvelic\KPayment\Model\Config\LiveAction</source_model>
					<depends>
						<field id="*/*/mode">live</field>
					</depends>
				</field>
				<field id="merchant" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="21" translate="label" type="text">
					<label>Merchant ID</label>
					<validate>kbank-entry kbank-merchant-length kbank-digits</validate>
					<depends>
						<field id="*/*/mode">live</field>
					</depends>
				</field>
				<field id="term" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="22" translate="label" type="text">
					<label>Terminal ID</label>
					<validate>kbank-required-entry kbank-terminal-length kbank-digits</validate>
					<depends>
						<field id="*/*/mode">live</field>
					</depends>
				</field>
				<field id="checksum" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="23" translate="label" type="password">
					<label>MD5 Secure Hash</label>
					<validate>kbank-required-entry kbank-md5-hash</validate>
					<depends>
						<field id="*/*/mode">live</field>
					</depends>
				</field>
				<field id="ipcust" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="24" translate="label" type="text">
					<label>IP address of merchant’s server</label>
					<validate>kbank-required-entry ipv4</validate>
					<depends>
						<field id="*/*/mode">live</field>
					</depends>
				</field>

				<field id="action_test" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="select">
					<label>Gateway Type</label>
					<source_model>Marvelic\KPayment\Model\Config\TestAction</source_model>
					<depends>
						<field id="*/*/mode">test</field>
					</depends>
				</field>
				<field id="merchant_test" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="31" translate="label" type="text">
					<label>Merchant ID</label>
					<comment>Test Merchant ID : 401009112233004</comment>
					<validate>kbank-entry kbank-merchant-length kbank-digits</validate>
					<depends>
						<field id="*/*/mode">test</field>
					</depends>
				</field>
				<field id="term_test" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="32" translate="label" type="text">
					<label>Terminal ID</label>
					<comment>Test Terminal ID : 91122334</comment>
					<validate>kbank-required-entry kbank-terminal-length kbank-digits</validate>
					<depends>
						<field id="*/*/mode">test</field>
					</depends>
				</field>
				<field id="checksum_test" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="33" translate="label" type="password">
					<label>MD5 Secure Hash</label>
					<comment>Use MD5 Function</comment>
					<validate>kbank-required-entry kbank-md5-hash</validate>
					<depends>
						<field id="*/*/mode">test</field>
					</depends>
				</field>
				<field id="ipcust_test" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="34" translate="label" type="text">
					<label>IP address of merchant’s server</label>
					<comment>Test IP Address 111.111.111.111</comment>
					<validate>kbank-required-entry ipv4</validate>
					<depends>
						<field id="*/*/mode">test</field>
					</depends>
				</field>

				<field id="fillspace" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="select">
					<label>MCard type required?</label>
					<source_model>Marvelic\KPayment\Model\Config\CardType</source_model>
				</field>
				<field id="auto_invoice" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="45" translate="label" type="select">
					<label>Auto Create Invoice when payment success?</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="order_status" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50" translate="label" type="select">
					<label>New Order Status</label>
					<source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
				</field>
				<field id="description" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="60" translate="label" type="text">
				<label>Description</label>
				</field>
				<field id="sort_order" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="70" translate="label" type="text">
					<label>Sort Order</label>
				</field>
				<field id="instructions" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="80" translate="label" type="textarea">
					<label>Instructions</label>
				</field>
				<field id="allowspecific" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="90" translate="label" type="allowspecific">
					<label>Payment from Applicable Countries</label>
					<source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
				</field>
				<field id="specificcountry" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="100" translate="label" type="multiselect">
					<label>Payment from Applicable Countries</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					<can_be_empty>1</can_be_empty>
				</field>

			</group>
		</section>
	</system>
</config>
