<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Marvelic\Job\Api\ExportRepositoryInterface" type="Marvelic\Job\Model\ExportRepository"/>
	<preference for="Marvelic\Job\Api\Data\ExportInterface" type="Marvelic\Job\Model\Data\Export"/>
	<preference for="Marvelic\Job\Api\Data\ExportSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Marvelic\Job\Model\ResourceModel\Export\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">marvelic_job_export</argument>
			<argument name="resourceModel" xsi:type="string">Marvelic\Job\Model\ResourceModel\Export\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="marvelic_job_export_listing_data_source" xsi:type="string">Marvelic\Job\Model\ResourceModel\Export\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<type name="Magento\Cron\Model\Config\Data">
		<plugin name="getJobs" type="\Marvelic\Job\Plugin\Config\Data"/>
	</type>
</config>
