<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<kpayment>
				<mode>test</mode>
				<active>0</active>
				<model>Marvelic\KPayment\Model\PaymentMethod</model>
				<order_status>pending</order_status>
				<title>Kpayment</title>
				<action_test>https://uatkpgw.kasikornbank.com/pggroup/payment.aspx</action_test>
				<merchant_test>401009112233004</merchant_test>
				<term_test>91122334</term_test>
				<checksum_test>FlkjlSXjekslPkoK=94aSrQnSIYsakEE</checksum_test>
				<ipcust_test>111.111.111.111</ipcust_test>
				<fillspace>Y</fillspace>
				<order_status></order_status>
				<allowspecific>0</allowspecific>
				<specificcountry></specificcountry>
				<description>BrandZale</description>
				<sort_order></sort_order>
				<instructions></instructions>
				<group>offline</group>
			</kpayment>
		</payment>
	</default>
</config>
